[submodule "mastering_tool"]
path = mastering_tool
url = https://github.com/qaaph-zyld/mastering_tool.git
[submodule "suno_prompter"]
	path = suno_prompter
	url = https://github.com/qaaph-zyld/suno_prompter.git
[submodule "open_DAW"]
	path = open_DAW
	url = https://github.com/qaaph-zyld/open_DAW.git
[submodule "track_reverse_engineering"]
	path = track_reverse_engineering
	url = https://github.com/qaaph-zyld/track_reverse_engineering.git
[submodule "suno_extractor"]
	path = suno_extractor
	url = https://github.com/qaaph-zyld/suno_extractor.git
[submodule "track_inventory"]
	path = track_inventory
	url = https://github.com/qaaph-zyld/track_inventory.git
